<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8" />
	<title>index</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
	<header>
		<div id="Logo">
			<img src="static\Icons\pickrLogo.svg">
		</div>
	</header>

	<main>

		<div class="buttons">
			<a href="/create">Start new poll</a>
		</div>


		<div class="buttons">
			<a href="/joinpoll">Join a poll</a>
		</div>


		<div class="buttons">
			<a href="/help">Help</a>
		</div>

	</main>

	<footer>
		<div class="footer-line">TH Augsburg · Studienprojekt · Webtechnologien / Agile Webanwendungen für Python</div>
		<div class="footer-line">Mario Winter · Alfred Rose · © 2026</div>
	</footer>

</body>

</html>